<article class="transaction_card">
  <div class="tran_head flex_row">
    <p class="total_amount"><%= entity.name %> #<%= entity.id %></p>
    <div class="total_amount">$<%= entity.amount %></div>
  </div>
  <div class="date flex_row"><img src="https://img.icons8.com/ios/50/000000/calendar--v1.png"/> <%= entity.created_at %></div>
</article>
