<h1>Categories</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Transactions", entities_path %>
    </p>
  <% end %>
</div>

<%= button_to "New Category", new_group_path, method: :get %>
