<div class="splash_container">
    <h1 class="logo_text">TrackerCoin</h1>
    <div class="buttons_register">
        <%= button_to "LOG IN", new_user_session_path, class: "login", method: :get %>
        <%= button_to "SIGN UP", new_user_registration_path, class: "signup", method: :get %>
    </div>
</div>
