/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f6f8;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.splash_container {
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(5, auto);
    height: 98vh;
    padding: 0.8rem;
}

.splash_container h1 {
    grid-row-start: 3;
    text-align: center;
    font-size: 3rem;
}

.buttons {
    grid-row-start: 5;
    display: flex;
    flex-direction: column;
}

.buttons button {
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 0.2rem;
    width: 100%;
}

.logo_text {
    font-family: 'Dancing Script', sans-serif;
}

.login {
    background-color: #3878c2;
    border: none;
    border-radius: 5px;
    color: white;
}

.signup {
    background-color: #f5f6f8;
    border: none;
    color: #86898e;
}

.login_nav {
    background-color: #326fb2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: white;
}

.login_nav h3 {
    font-weight: 300;
}

.login_nav img {
    filter: invert(100%);
    width: 2.5rem;
}

.field_login {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.field_login input {
    padding: 0.5rem;
    border: 1px solid #a6abaf;
}

.actions_login input {
    border: none;
    background-color: #326fb2;
    color: white;
}

.forgot_pass_login {
    text-align: center;
    margin-top: 0.5rem;
}

.forgot_pass_login a {
    text-decoration: none;
    color: #a6abaf;
    font-size: 0.8rem;
}

.signup_nav {
    background-color: #326fb2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: white;
}

.field_signup {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.field_signup input {
    padding: 0.5rem;
    border: 1px solid #a6abaf;
}